---
title: "IOOS Catalog"
excerpt: "IOOS Catalog"
layout: single
author_profile: false
---

{% include base_path %}




<p>Information on the IOOS Catalog system and requirements for IOOS data providers to populate the Catalog.</p>

<h3 class="archive__subtitle">IOOS Catalog Architecture</h3>
<p>More information on the system architecture for the IOOS Catalog can be found
<a href="{{ site.url }}{{ site.baseurl }}/pages/architecture" alt="IOOS Catalog architecture">here</a>.
</p>

<h3 class="archive__subtitle">Harvest Registry</h3>
<p>The Harvest Registry is the entry point into the Catalog.  IOOS data providers can use the Registry
to submit ISO 19115-compliant metadata describing their datasets and associated services using the Registry.
The IOOS Catalog requires Web Accessible Folders containing ISO 19115 metadata be published and accessible
for the Registry to harvest.  More information found  <a href="{{ site.url }}{{ site.baseurl }}/pages/registry" alt="IOOS Catalog architecture">here</a>.
</p>

<h3 class="archive__subtitle">Coming Soon</h3>
<p>More info on the IOOS Catalog components will be published here as the system evolves.</p>
<!--
<h3 class="archive__subtitle">IOOS Catalog Architecture</h3>
<p></p>
-->

<!--
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
-->
